.custom-carousel {
  margin-bottom: 50px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  width: 100%;
}

.product-card {
  margin: 0 10px;
}

.product-card {
  width: 250px;
}
